################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Linux-Commander/bin
/Linux-Commander/obj
/packages
/Linux-Commander/.vs
